:root {
  --primary-300: #9beaff;
  --primary-500: #63d9ff;
  --primary-600: #2fc7f0;
  --success-500: #5dcc96;
  --warning-500: #f5be58;
  --error-500: #e77483;
  --surface-base: #ffffff;
  --surface-raised: #f6fafd;
  --surface-overlay: #eaf2f8;
  --bg-canvas: #f4f8fc;
  --bg-subtle: #edf3f8;
  --text-primary: #102033;
  --text-secondary: #42576e;
  --text-muted: #62758a;
  --border-default: #d6e3ec;
  --border-subtle: #e5eef4;
}

[data-theme='dark'] {
  --primary-300: #9beaff;
  --primary-500: #63d9ff;
  --primary-600: #2fc7f0;
  --success-500: #5dcc96;
  --warning-500: #f5be58;
  --error-500: #e77483;
  --surface-base: #142133;
  --surface-raised: #18283d;
  --surface-overlay: #1e3147;
  --bg-canvas: #0e1726;
  --bg-subtle: #111d2d;
  --text-primary: #eaf5ff;
  --text-secondary: #bfd2e3;
  --text-muted: #96abc1;
  --border-default: #294059;
  --border-subtle: #1f354c;
}